################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyProject/bin
/MyProject/obj/Debug
/packages
*.user
.vs